.nav-section {
    width: 100%;
    background-color: @nav-bg;
    border-bottom: @nav-border;
    position: sticky;
    top: 0;
    opacity: .9;
    .nav-container {
      width: 100%;
      margin: 0 auto;
      .flex(center, flex-start);
      flex-wrap: wrap;
      text-align: center;
      padding-bottom: 0.7rem;
      @media @phone {
        max-width: 500px;
      }//@media
      h1 {
        width: 100%;
        font-size: 4.0rem;
        padding-bottom: 1.5%;
        @media @phone {
          margin-bottom: 1.0rem;
        }//@media
      }//h1
      nav {
        width: 100%;
        padding: 0.5rem;
        a {
          .a-style;
        }//a
      }//nav
    }//.nav-container
  }//.nav-section